biopython==1.72
Cython==0.29.6
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
matplotlib==3.0.3
mkl-fft==1.0.12
mkl-random==1.0.2
mpmath==1.1.0
nbconvert==5.5.0
nbdime==1.1.0
nbformat==4.4.0
numpy==1.16.4
palettable==3.1.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
Pygments==2.3.1
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
python-Levenshtein==0.12.0
python-utils==2.3.0
pyzmq==18.0.0
scikit-learn==0.20.0
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
statsmodels==0.9.0
urllib3==1.23
